// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
    font-size: 32px;
    color: #DEF2F1;
    font-family: verdana;
    text-align: center;
}

body{
    background: #3AAFA9;
}

a:link, a:visited {
    text-decoration: none;
    font-family: verdana;
}
