<h1>New Quiz</h1>

<p>
<p>
  <form>
    <strong>Quiz:</strong>
    <input = "text" name = "quizname">
  <br>
    <strong>Topic:</strong>
    
    <input = "text" name = "topic">
  <br>
  
  
  </form>
</p>

 
<p>
  <form>
  <strong>Question:</strong>
  <textarea name="question" rows="10" cols="30">Enter your Question
  </textarea>
  
  <br>
  <input type="radio" name="optionA">A:<input type="text" name="optionAAnswer">
  <br>
  <input type="radio" name="optionB">B:<input type="text" name="optionBAnswer">
  <br>
  <input type="radio" name="optionC">C:<input type="text" name="optionCAnswer">
  <br>
  <input type="radio" name="optionD">D:<input type="text" name="optionDAnswer">
  
  </form>
</p>

